
.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-info-outline:before { content: '\e801'; } /* '' */
.icon-info-circled-1:before { content: '\e802'; } /* '' */
.icon-info-circled-2:before { content: '\e803'; } /* '' */
.icon-chat-alt:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-calendar-circled:before { content: '\e806'; } /* '' */
.icon-check-outline:before { content: '\e807'; } /* '' */
.icon-folder:before { content: '\e808'; } /* '' */
.icon-folder-1:before { content: '\e809'; } /* '' */
.icon-folder-add:before { content: '\e80a'; } /* '' */
.icon-folder-2:before { content: '\e80b'; } /* '' */
.icon-folder-3:before { content: '\e80c'; } /* '' */
.icon-folder-4:before { content: '\e80d'; } /* '' */
.icon-folder-close:before { content: '\e80e'; } /* '' */
.icon-folder-open:before { content: '\e80f'; } /* '' */
.icon-folder-5:before { content: '\e810'; } /* '' */
.icon-folder-open-1:before { content: '\e811'; } /* '' */
.icon-ok-outline:before { content: '\e812'; } /* '' */
.icon-ok:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-calendar-2:before { content: '\e815'; } /* '' */
.icon-calendar-3:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-chat-inv:before { content: '\e818'; } /* '' */
.icon-comment:before { content: '\e819'; } /* '' */
.icon-chat-1:before { content: '\e81a'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-star-1:before { content: '\e81c'; } /* '' */
.icon-star-filled:before { content: '\e81d'; } /* '' */
.icon-star-2:before { content: '\e81e'; } /* '' */
.icon-star-3:before { content: '\e81f'; } /* '' */
.icon-star-4:before { content: '\e820'; } /* '' */
.icon-truck:before { content: '\e821'; } /* '' */
.icon-truck-1:before { content: '\e822'; } /* '' */
.icon-location:before { content: '\e823'; } /* '' */
.icon-mail:before { content: '\e824'; } /* '' */
.icon-mail-1:before { content: '\e825'; } /* '' */
.icon-left:before { content: '\e826'; } /* '' */
.icon-left-big:before { content: '\e827'; } /* '' */
.icon-left-open:before { content: '\e828'; } /* '' */
.icon-left-outline:before { content: '\e829'; } /* '' */
.icon-left-fat:before { content: '\e82a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-calendar-1:before { content: '\f4c5'; } /* '' */